Millionaire.xcodeproj/project.xcworkspace/xcuserdata/vladimirdmitriev.xcuserdatad/UserInterfaceState.xcuserstate
Millionaire.xcodeproj/xcuserdata/vladimirdmitriev.xcuserdatad/xcschemes/xcschememanagement.plist
